.Dictionary {
  max-width: 960px;
  margin: 0 auto;
}
.Meaning {
  text-align: left;
}
.Section {
  display: block;
}
.form {
  display: block;
  margin-top: 0em;
}
.Dictionary label {
  display: block;
  font-weight: bold;
  margin-bottom: 20px;
}

.Dictionary section {
  border-radius: 8px;
  background: #ffceb6;
  margin-top: 10px;
  padding: 40px;
  box-shadow: 0px 10px 10px rgb(0 0 0/10%);
}

.Dictionary input {
  display: block;
  height: 64px;
  color: black;
  font-size: 18px;
  line-height: 21px;
  padding: 22px;
  border: 1px solid #ddd;
  border-radius: 6px;
  width: 100%;
  border-color: black;
}
.Dictionary label {
  font-size: x-large;
}
.Dictionary .hint {
  margin-top: 15px;
  display: block;
  font-size: 12px;
  font-weight: bold;
}
